[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aggregation"]
	path = aggregation
	url = https://github.com/cran/aggregation
	shallow = true
	registered = true
